
@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerLight.woff2') format('woff2'),
		url('../fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}
* {
    box-sizing: border-box;
}


:root {
    --color: #cc9933;
    --white-background:#ffffff;
    --grey-background: #f1f1f1;
}

html,
body {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    font-family: 'Muller', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    background-color: var(--grey-background);
}
a {
    text-decoration: none;
    transition-property: color, font-size;
    transition-duration: 100ms;
    transition-timing-function: linear;
}

a:hover {
    outline: none;
    color: blue;
    font-size: 17px;
    font-weight: 400;
}
img {
    max-width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

input {
    outline: none;
}

input::placeholder {
    color: #c3c3c3;
}


.container {
    width: 1170px;
    margin: 0 auto;
}

.btn:hover {
    box-shadow: 0 0 3px #cc9933;
    color: blue;
    transition-duration: 100ms;
    transition-timing-function: linear;
    transform: translate(2px, 2px); 
}

.first-btn:hover {
    box-shadow: 0 0 3px #cc9933;
    color: blue;
    transition-duration: 100ms;
    transition-timing-function: linear;
    transform: translate(2px, 2px); 
}


button:focus {
    outline: none;
    border-radius: 12px;
}

button:active {
    outline: none;
    border-radius: 12px;
}

.btn {
    display: block;
    margin-left: 43px;
    margin-top: 10px;
    width: 100px;
    font-size: 16px;
    line-height: 32px;
    color: var(--color);
    border: 1px solid var(--color);
    border-radius: 12px;
    background-color: var(--white-background);
    font-weight: 800;
    cursor: pointer;
}

.header-line {
    display: flex;
    align-items: center;
    color: var(--color);
}

.header-number {
    font-size: 22px;
    margin-left: 25px;
    margin-right: auto;
    color: #666666;
    font-weight: 800;
}
.header-number:hover {
    font-size:23px;
}
.header-personal {
    color: var(--color);
}
.header-pointer {
    color: white;
    background-color: var(--color);
    border-radius: 50%;
    margin-right: 2px;
}
.header-nav {
    display: flex;
    margin-top: 30px;
    height: 70px;
    border: 1px solid  var(--white-background);
    background-color:  var(--white-background); 
    border-radius: 12px;   
}
.header-list {
    display: flex;
    align-items: center;
}

.header-list-item {
    margin-right: 30px;
    margin-left: 20px;
}

.header-link {
    white-space: nowrap;
    font-weight: 500;
    color: #333333;
}

.header-input {
    display: flex;
    margin: 10px 20px;
    margin-left: 125px;
    height: 50px;
    border: 1px solid var(--grey-background);
    border-radius: 15px;
    background-color: var(--grey-background);
    padding-left: 20px;
}
.header-input-search {
  border: 0;
  padding-right: 85px;
  background-color: var(--grey-background);
}

.header-search {
    border: 0;
    border-radius: 15px;
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 20px;
    background-image: url(../images/search.svg);
    background-position-y: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.first-section-container {
   display: flex;
   /*justify-content: space-between;*/
   margin-top: 40px;
}

.first-section-container .first-special-block
{
    margin-left: 55px;
}

.fast-booking {
   width: 45%;
   color: #999999;
}

.fast-booking-input {
    width: 520px;
    height: 70px;
    margin-bottom: 25px;
    margin-left: 2px;
    border: 1px solid var(--grey-background);
    border-radius: 15px;
    background-color:  var(--white-background);
    padding-left: 20px;
}


.fast-booking-number {
    margin-left: 30px;
    font-size: 16px;
    color: var(--color);
    font-weight: 400;
}

.first-btn {
   width: 160px;
   height: 70px;
   color: white ;
   background-color: var(--color);
   border: 1px solid var(--color);
   border-radius: 12px;
   font-weight: 400;
   cursor: pointer;
   color: hsl(0, 100%, 50%);
}

.first-special-items {
    height: 545px;
    width: 99%;
    border-radius: 12px;
    background-image: url(../images/Special.png);
    background-repeat: no-repeat;
    border: 1px solid var(--grey-background);
    
}

.first-special-lux {
    font-size: 66px;
    height: 0px;
    text-align: left;
    line-height: 58px;
    margin-left: 43px;
    margin-top: 265px;
    color:  var(--white-background);
    word-spacing: 100px;
}

.first-special-price {
    display: inline-block;
    font-size: 35px;
   width: 170px;
   color: #8e7969;
   margin-left: 45px;
   margin-top: 160px;

}

.first-special-more {
    margin-left: 40px;
    color: #d2a755;
}

.section-title {
margin-left: 50px;
margin-bottom: 50px;
height: 42px;
font-size: 40px;
font-weight: 400;
line-height: 32px;
color: #333333;
}

.about-us-paragraph {
    margin-top: 35px;
    width: 885px;
    line-height: 32px;
    margin-left: 50px;
    color: #666666;
}

.service-list {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}

.service-list-item {
    margin-bottom: 25px;
    border: 1px solid var(--grey-background);
    width: 572px;
    border-radius: 12px;
    background-color: white;
   
}

.service-list-item:nth-child(2n)
{
    margin-left: 25px;
}
.service-item-heading {
    margin-left: 45px;
    font-size: 22px;
    line-height: 32px;
    color: var(--color);
    font-weight: 500;
    cursor: pointer;
}

.service-paragraph {
    margin-left: 45px;
    width: 405px;
    line-height: 32px;
    color: #333333;
}

.advantage-list {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}


.advantage-list-item {
    padding-left: 40px;
    padding-top: 45px;
    margin-bottom: 25px;
    width: 275px;
    border-radius: 12px;
   background-color:  var(--white-background);
}


.advantage-list-item:nth-child(2n+1),
.advantage-list-item:nth-child(4n-2)
 {
    margin-right: 22px;
}

.advantage-list-paragraph {
    width: 187px;
    line-height: 32px;
}

.placement-list {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}

.placement-item {
    width: 373px;
    height: 441px;
    border-radius: 12px;
    margin-bottom: 25px;
    background-color:  var(--white-background);
}

.placement-item:nth-child(3n-1),
.placement-item:nth-child(3n-2)
{
    margin-right: 22px;
}

.placement-stars {
    display: flex;
    width: 283px;
    font-size: 16px;
    line-height: 32px;
    margin-left: 43px;
    margin-top: 40px;
    color: #969696;
   
}

.stars {
    margin-left: 35px;
}

.placement-hotels {
    margin-left: 43px;
    margin-top: 15px;
}

.placement-location {
    width: 100%;
    height: 87px;
    font-size: 16px;
    line-height: 32px;
    margin-left: 43px;
    margin-top: 15px;
    /*background-color: white;*/
    color: #969696;
}

.hotel-price {
    font-size: 24px;
    font-weight: 700;
    margin-left: 4px;
    margin-right: 4px;
    color: #333333;
    /*background-color: white;*/
}

.placement-item-more {
    display: flex;
    width: 373px;
    height: 441px;
    border-radius: 12px;
    background-image: url(../images/look_all.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.look_all {
    margin-top: 360px;
    margin-left: 40px;
    width: 363px;
    height: 24px;
    font-size: 22px;
    line-height: 32px;
    color:  var(--white-background);
    font-weight: 500;
    font-family: 'Muller';
    height: 0px;
    cursor: pointer;
}

.look_all::after {
    content: '';
    position: absolute;
   left: 0;
    right: 0;
    top: 0;
    bottom: 0;
   
}
.look_all:hover {
    font-size: 22px;
}


/*.point {
    width: 20px;
    font-weight: 100;
    font-size: 32px;
    margin-top: 355px;
    margin-right: 40px;
    color: white;
}*/


/*.placement-pointer {
    display: inline;
    background-color: rgba(0, 50, 50, 0.5);  
}*/

.form-contacts {
    width: 472px;
    height: 619px;
    border-radius: 12px;
    background-color:  var(--white-background);
}

.contact-items {
    display: flex;
    width: 384px;
    margin-left: 45px;
    height: 100px;
    border-bottom: 1px solid #cccccc;
}

.contact-info {
    width: 140px;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 5px;
    color: #666666;
}

.contact-info-address {
    height: 125px;
    padding-top: 25px;
}

.contact-info-email {
    height: 145px;
}

.contact-data-email {
    color: var(--color);
}

.contact-data {
    width: 240px;
    height: 80px;
    line-height: 24px;
    padding-top: 5px;
    color: #333333;
}

.contact-numbers{
    padding-top: 23px;
}

.contact-email {
    color: #a0a0a0;
}

.contact-btn {
    width: 210px;
    height: 70px;
    margin-top: 45px;
    margin-left: 45px;
    font-weight: bold;
    color: var(--color);
    background-color: white;
}
.form-write-us {
    width: 400px;
    height: 500px;
    margin-right: 100px;
}

.write-us {
    margin-top: 160px;
    margin-left: 175px;
}

.write-us-title {
    margin-bottom: 50px;
    height: 42px;
    font-size: 40px;
    font-weight: 400;
    line-height: 32px;
    color: #333333;
    margin-left: 30px;
}
.write-us-contacts {
   width: 340px;
   height: 73px;
}

.write-us-message {
    width: 340px;
    height: 110px;
    padding-bottom: 60px;
}

.footer {
    display: flex;
    /*justify-content: space-between;*/
    background-color: #333333;
    margin-top: 40px;
    height: 340px;
    background-image: url(../images/Слой\ 27\ копия.svg);
    background-repeat: no-repeat;
    background-position-x: 736px;
    background-position-y: 114px ;
    border-radius: 12px;
    margin-bottom: 50px;
}

.footer-paragraph {
    width: 345px;
    margin-top: 45px;
    margin-left: 50px;
    line-height: 28px;
    color:  var(--white-background);
    font-family: 'Muller Regular';
}


.footer-paragraph-1 {
    margin-top: 35px;
    margin-bottom: 30px;
    line-height: 32px;
    color:  var(--white-background);
}

.footer-paragraph-3 {

    margin-bottom: 30px;
}

.privacy-policy {
    color: #b88b33;
}

.footer-paragraph-2 {
    width: 365px;
    margin-top: 45px;
    margin-right: 210px;
    margin-left: 80px;
    line-height: 24px;
    color:  var(--white-background);
    font-family: 'Muller Regular';
}

.footer-numbers {
    margin-top: 40px;
    color: #b88b33;
}

.footer-emails {
    margin-top: 50px;
    line-height: 20px;
    color: #b88b33;
}

.social-list {
    margin-right: 50px;
    margin-top: 45px;
} 
 
.social-items {
    margin-left: 30px;
    margin-bottom: 20px;
}

.social-icons:hover {
    transform: translate(3px, 3px);
    background-color: cadetblue;
    border-radius: 12px;
}